@import '../../styles/global/variable.css';

.footer {
    width: 100%;
    background: var(--bg-dark);
    margin-top: auto;
    border-top: 1px solid var(--border-gray);
}

.footer__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: start;
    gap: var(--gap-medium);
    padding: 40px 20px 20px 20px;
}

.footer__logo {
    border-radius: var(--radius-image);
    width: 80px;
    margin-top: 5px;
}

.footer__title {
    color: var(--accent-orange);
    margin-bottom: 15px;
    font-size: 18px;
}

.footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__list-item {
    margin-bottom: 8px;
}

.footer__link {
    text-decoration: none;
    color: var(--text-gray);
    transition: color 0.3s ease;
    font-size: 18px;
}

.footer__link:hover {
    color: var(--accent-orange);
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer__text {
    color: var(--text-gray);
    font-size: 20px;
    margin: 0;
}

.footer__text--muted {
    color: var(--text-gray);
    font-size: 20px;
}

.footer__divider {
    border: none;
    height: 2px;
    background: var(--bg-dark);
    margin: auto 20px 0 20px;
}

.footer__copyright {
    padding: 20px;
    color: var(--white);
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}