.nav {
    border-radius: 10%;
    width: 100%;
    background: var(--bg-dark);
}

.nav__container {
    color: var(--white);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.nav__logo-image {
    border-radius: var(--radius-image);
    width: 30%;
}

.nav__links {
    grid-column-start: 2;
    grid-column-end: 4;
}

.nav__link {
    color: var(--text-gray);
    padding: 30px;
    font-size: 20px;
    text-decoration: none;
}

.nav__link:hover {
    color: var(--accent-orange);
    text-decoration: underline;
}


.user-menu {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.user-menu__cart {
    margin: auto;
}

.user-menu__cart-icon{
    color: grey;
}

.user-menu__cart-link {
    font-size: 24px;
    text-decoration: none;
}

.user-menu__button {
    color: var(--text-gray);
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 30px;
    transition: all 0.3s ease;
    font-family: inherit;
}

.user-menu__button:hover {
    color: var(--accent-orange);
    text-decoration: underline;
}

.user-menu__login-link {
    color: var(--text-gray);
    background-color: rgba(255, 255, 255, 0);
    font-size: 20px;
    border: none;
    outline: none;
    text-decoration: none;
    padding: 30px;
}

.user-menu__login-link:hover {
    cursor: pointer;
    color: var(--accent-orange);
    text-decoration: underline;
}