body{
  background: rgb(10, 10, 15);
}

.page-wrapper {
  min-height: 100vh;
  background: var(--main-bg);
}

.main-content {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}